<div id="image-upload-form" style="text-align:center;">
    <p style="pointer-events:none;" class="label label-default">
        <span class="glyphicon glyphicon-floppy-save"></span> Click or drop to upload
    </p>
    <br/>&nbsp;
    <div id="dz-details" class="hidden"></div>
    <div id="aloha-image-library"></div>
</div>