{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
    <div class="container">
        {% if app.session.getFlashBag.has("error") %}
            <!-- Error messages -->
            {% for flashMessage in app.session.flashbag.get("error") %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="page-header">
            <h1>
                <img src="{{ asset("bundles/jiracorewidget/images/jira.png") }}" width="50px" />
                Login Credentials
            </h1>
        </div>

        {{ form(form) }}

        <div class="form-group">
            <div class="control">
                <button id="save" type="submit" onclick="formSave()" class="btn btn-primary pull-right">
                    <i class="fa fa-check"></i> Save
                </button>
                <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
                <button type="button" onclick="location.href='{{ path('provider') }}';" class="btn btn-default pull-right">
                    <i class="fa fa-times-circle"></i> Cancel
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block js -%}
    <script type="text/javascript">
        function formSave()
        {
            var form = $("#create-form");

            if (form.validate())
            {
                form.submit();
            }
        }

        $("#create-form").validate();
    </script>
{% endblock %}
