{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
<div class="container">
    <div class="page-header">
        <h1>RecipeFields creation</h1>
    </div>

    {{ form(form) }}

    <div class="form-group">
        <div class="control">
            <button id="save" type="submit" onclick="formSave()" class="btn btn-primary pull-right">
                <i class="fa fa-check"></i> Save
            </button>
            <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
            <button type="button" onclick="history.back();" class="btn btn-default pull-right">
                <i class="fa fa-times-circle"></i> Cancel
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block js -%}
    <script type="text/javascript">
        function formSave()
        {
            var form = $("#create-form");

            if (form.validate())
            {
                form.submit();
            }
        }

        $( document ).ready(function() {
            $('input:text:visible:first').focus();
            $("#create-form").validate();
        });
    </script>
{% endblock %}
