parameters:
    platform_vendor:   MyCompany GmbH
    platform_contact:  contact@website.com
    platform_keywords: 'webportal,blog'
    platform_description: 'This is my website with blog.'

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    timezone:          "Europe/Berlin"
    secret:            ThisTokenIsNotSoSecretChangeIt
