{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
<div class="container">
    <div class="page-header">
        <h1>JiraBurnDownWidget creation</h1>
    </div>

    {{ form(form) }}

    <div class="form-group">
        <div class="control">
            <button id="save" type="submit" onclick="formSave()" class="btn btn-primary pull-right">
                <i class="fa fa-check"></i> Save Configuration
            </button>
        </div>
    </div>
</div>
{% endblock %}

{% block js -%}
    <script type="text/javascript">
        function formSave()
        {
            var form = $("#create-form");

            if (form.validate())
            {
                form.submit();
            }
        }

        $( document ).ready(function() {
            $("#jira_burn_down_widget_widgetconfig_calc_base").parent().append($("#jira_burn_down_widget_widgetconfig_customField"));
            $('#jira_burn_down_widget_widgetconfig_customField').attr('placeholder', 'Please type in custom field name (e.g. customfield_10004)');

            if ($('#jira_burn_down_widget_widgetconfig_calc_base').val() == 'points'){
                $('#jira_burn_down_widget_widgetconfig_customField').attr('type', 'input');
            }

            $("#jira_burn_down_widget_widgetconfig_calc_base").change(function(){
                if ($('#jira_burn_down_widget_widgetconfig_calc_base').val() == 'points'){
                    $('#jira_burn_down_widget_widgetconfig_customField').attr('type', 'input').focus();
                } else {
                    $('#jira_burn_down_widget_widgetconfig_customField').attr('type', 'hidden');
                }
            });

            $('input:text:visible:first').focus();
            $("#create-form").validate();
        });
    </script>
{% endblock %}
