{% extends "MetricsBundle::layout.html.twig" %}

{% block content %}
    <script>
        var requestStack = [];
        function addDataRequest(url, params, callback) {
            requestStack.push({'url':url, 'params': params, 'callback': callback});
        }
    </script>

    {% if widgets|length %}
        {% for widget in widgets %}
        <div id="widget-{{ widget.id }}" class="panel panel-default widget-panel">
            {% include 'MetricsBundle::' ~ widget.type ~ '.html.twig' with {'widget': widget} %}
        </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            refreshWidgetData();
            var updateTimer = window.setInterval(function(){refreshWidgetData()}, 240000);
        });

        function refreshWidgetData()
        {
            for (var i = 0; i < requestStack.length; i++) {
                var request = requestStack[i];
                $.post(request['url'], request['params'], request['callback']);
            }
        }
    </script>
{% endblock %}
