{% extends "MetricsBundle::layout.html.twig" %}

{% block content -%}
<div class="container">
    <div class="page-header">
        <h1>Widgets creation</h1>
    </div>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('widgets') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
